div.aboutLeftContainer {
	float: left;
	width: 20%;
	height: 100%;
	margin-left: 4%;
}

div.aboutRightContainer {
	width: 63%;
	height: 100%;
	margin-left: 32%;
}

h2.about {
	padding-top: 15%;
	margin-left: 3%;
	text-align: left;
	font-size: 200%;
	font-weight: lighter;
}

p.aboutDescription {
	color: black;
	text-align: left;
	font-weight: lighter;
}

p.imageCard {
	padding: 2px 16px;
}

img {
	padding-top: 30%;
	width: 100%;
}

ul.info {
	width: 100%;
	padding: 0;
	margin: 0;
	float: left;
	list-style-type: none;
	color: white;
	background-color:rgb(27, 28, 29);
}

li.info {
	margin: 5px;
	padding: 15px 0;
	padding-left: 15px;
	text-align: left;
}

@media only screen and (max-width: 500px) {
	/* For mobile phones: */
	div.aboutLeftContainer {
		height: auto;
		width: auto;
		margin: 0 0 10%;
		padding: 0;
	}
	div.aboutRightContainer {
		height: auto;
		width: auto;
		margin: 0;
		padding: 0;
	}
}