.App {
	text-align: center;
}

h1 {
	font-size: 300%;
	background-color: #111;
	padding: 20px;
	margin: 0;
	color: white;
}

p {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1.home {
	color: white;
	background-color:rgb(27, 28, 29);
	padding: 20px;
	margin: 0;
	vertical-align: middle;
	font-family: 'Segoe UI';
	font-size: 400%;
	font-weight: lighter;
}

div.subContainer {
	height: 600px;
	line-height: 600px;
	background-color: rgb(27, 28, 29);
	text-align: center;
}

div.subContainer2 {
	margin: 0;
	float: left;
	height: 600px;
	width: 50%;
	line-height: 600px;
	background-color: white;
	text-align: center;
}