p.navBar {
	line-height: 2px;
}

ul.navBar {
	list-style: none;
	background-color: rgb(27, 28, 29);
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

li.navBar {
	display: inline-block;
	color: white;
	text-align: center;
	margin: 0px 10px;
	padding: 0px 10px 0px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color:  rgb(27, 28, 29);
}

li.navBar:hover {
	border-bottom-color: white;
	cursor: pointer;
}