p {
	line-height: 2px;
}

ul {
	list-style: none;
	background-color: rgb(27, 28, 29);
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 20px 0px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color:  rgb(27, 28, 29);
}

li:hover {
	border-bottom-color: white;
}