a.navBar {
	text-decoration: none;
	font-size: lighter;
	color: white;
	padding: 7px 0;	
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(27, 28, 29);
}

a.navBar:hover {
	border-bottom-color: white;
	cursor: pointer;
}

ul.navBar {
	list-style: none;
	background-color: rgb(27, 28, 29);
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

li.navBar {
	display: inline-block;
	color: white;
	text-align: center;
	margin: 0px 10px;
	padding: 16px 10px;
	
}

@media only screen and (max-width: 500px) {
	/* For mobile phones: */
	ul.navBar {
		position: absolute;
	}
	li.navBar {
		display: inline-block;
	}
}